html {
    font-family: 'Merriweather', serif;
}

h1, h2, h3 {
    color: rgb(36, 9, 156);
    text-align: left;
    font-size: 20px;
    margin: 40px 20px 20px 20px;
}

p, ul, ol, li {
    margin: 10px 20px;
    width: 70%;
}

#mainImage {
    position: relative;
    left: 5px;
    width: 70%;
    display: block;
    margin: 5px 50px;
}
